/* Card Container */
.cardContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}
/* Title Section */
.title {
  display: flex;
  font-weight: 400;
  font-size: 24px;
  align-items: center;
}
.title h3 {
  margin-right: 1rem;
  font-weight: 200;
}
/* Content */
.content p {
}
.content .mainLanding {
  width: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 3px;
  margin: 1rem auto;
}
.content .mobileImgs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.content .mobileImgs img {
  width: 45%;
  max-width: 250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 3px;
}
